#admin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h2 {
        text-align: center;;
    }

    .waypoints-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;

        .waypoints-table {
            width: 100%;
        
            td {
                text-align: center;

                #waypoint-name {
                    width: 90%;
                    color: black;
                    text-align: center;
                }
            }

            tr > td:last-child {
                padding-left: 5px;
            }
        }
    }

    .tools-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        button {
            width: 46%;
            margin: 5px 0;
            margin-top: 10px;
        }
    }
}

#admin-tools {
    .modal-content {
        position: absolute;
        top: 60px;
        right: 5px;
        width: 500px;

        .modal-close {
            display: none;
        }
    }
}

